html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'andale mono', mono-spaced;
    background-color: #A6A7A9;
}

#main-1,
#main-2,
.container-right {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-1 {
    opacity: 1;
}

#main-2,
#main-3 {
    opacity: 0;
}

.left {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../img/180722_148x197mm_grau00-1.jpg);
    background-size: cover;
    background-position: center;
}

.right {
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #F7AF3E;
   /* background-image: url(../img/180722_148x197mm_grau1-1.jpg);
    background-size: cover;
    background-position: center;*/
}

.container-right {
    position: absolute;
    background-size: cover;
    background-position: center;
   /* -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;*/
}

#r-1 {
    background-image: url(../img/180722_148x197mm_grau1-1.jpg);
    z-index: 70;
}

#r-2 {
    background-image: url(../img/180722_148x197mm_grau2-1.jpg);
    z-index: 60;
}

#r-3 {
    background-image: url(../img/180722_148x197mm_grau3-1.jpg);
    z-index: 50;
}

#r-4 {
    background-image: url(../img/180722_148x197mm_grau4-1.jpg);
    z-index: 40;
}

#r-5 {
    background-image: url(../img/180722_148x197mm_grau5-1.jpg);
    z-index: 30;
}

#r-6 {
    background-image: url(../img/180722_148x197mm_grau6-1.jpg);
    z-index: 20;
}

#r-7 {
    background-image: url(../img/180722_148x197mm_grau7-1.jpg);
    z-index: 10;
}

#r-8 {
    z-index: 1;
}


p[data-teleprompt] {
    visibility: hidden;
    font-size: 22px;
    line-height: 128%;
    font-family: 'andale mono', monospaced;
    color: white;
    padding: 0 0 0 0;
    margin-top: 0;
}

.pr-20 {
    padding-right: 20% !important;
}

.dim-500 {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.dim-900 {
    -webkit-transition: opacity .9s ease;
    transition: opacity .9s ease;
}

.dim-1200 {
    -webkit-transition: opacity 1.2s ease;
    transition: opacity 1.2s ease;
}

.opc-0 {
    opacity: 0 !important;
}

.opc-1 {
    opacity: 1 !important;
}

.no-disp {
    display: none;
}

.h-half {
    max-width: 50%;
}

.float-l {
    float: left;
}